* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  margin: 0;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.page-content-containers {
  width: 100%;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-box-home {
  display: flex;
  height: 80px;
  margin-bottom: 3em;
  text-align: center;
  width: 30em;
  background-color: #d4d6da;
  color: black;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.page-box-home:hover {
  background-color: #bec5aa;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: black;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 420px;
  margin: auto;
  margin-top: 40px;
}

.grid {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 3px;
}

.letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  border: 1px solid #d4d6da;
}

#correct {
  background-color: #6baa64;
  border: 1px solid #6baa64;
  color: white;
}

#present {
  background-color: #c9b458;
  border: 1px solid #c9b458;
  color: white;
}

#absent {
  background-color: #787c7e;
  border: 1px solid #787c7e;
  color: white;
}

.keyboard {
  width: 700px;
  height: 300px;
  margin-top: 60px;
  margin: 0 auto;
}

.top-row-keys {
  display: flex;
  flex: 33%;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.middle-row-keys {
  display: flex;
  flex: 33%;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.bottom-row-keys {
  display: flex;
  flex: 33%;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  display: grid;
  place-items: center;
  width: 40px;
  height: 60px;
  border-radius: 4px;
  margin: 3px;
  font-size: 18px;
  font-weight: 500;
  color: black;
  background-color: #d4d6da;
  cursor: pointer;
}

.key.large {
  width: 80px;
  font-size: 16px;
}
